body {
}

#PageMainTitle {
    font-size: 25pt;
    color: #62629A;
    background: linear-gradient(180deg, #fdf1d0 20%, #fffdf3 100%);
    border-radius: 25px;
    height: 20%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto; /* Centers the title horizontally */
    text-align: center; /* Centers the title text horizontally */
    display: flex;
    align-items: center; /* Centers the title vertically */
    justify-content: center; /* Centers the title horizontally */
    direction: rtl;
}

.imgOrTextToggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.8vh;
    border-radius: 1.25vh;
    width: 28%;
    background-color: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.toggleStick {
    position: relative;
    height: 1vh;
    width: 40%;
    border-radius: 0.25vh;
    background-color: #ECEEF0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveMatch {
    cursor: pointer;
}

.cancelChanges {
    cursor: pointer;
}

.saveAndReturn {
    cursor: pointer;
}


.toggleCircle1 {
    position: relative;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    background-color: #6565AA;
    right: 45%;
    transform: translateX(0);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.toggleCircle2 {
    position: relative;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    background-color: #6565AA;
    left: 40%;
    transform: translateX(1vh);
    transition: transform 0.5s ease;
    cursor: pointer;
}

#textImg {
    /*margin-right: 5px;*/
    padding: 5%;
}

#photoImg {
    /*margin-left: 5px;
    order: 3;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);*/
    padding: 5%;
}

.containerWithTwoDivs {
    display: flex;
}

.toggleSides {
    flex: 1;
}

* {
    padding: 0;
    margin: 0;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #fff; /* Changed to white */
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff; /* Changed to white */
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #3aa0ea;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #3aa0ea;
    }
}

.returnBtnClassDis {
    background-image: url('../css/edit game page/arrow.svg');
    background-repeat: no-repeat;
    background-color: rgb(137, 137, 165);
    width: 8vw;
    height: 3vh;
    border-radius: 8px;
    background-color: lightgray;
    cursor: not-allowed;
    color: white;
    font-weight: 500;
}

.returnBtnClass {
    width: 8vw;
    height: 3vh;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    background-image: linear-gradient(to left, #7a7ac6, #54547c);
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-color: rgb(137, 137, 165);
}

    .returnBtnClass::before {
        content: url('../css/edit game page/arrow.svg');
    }

    .returnBtnClass:hover {
        /*        background-image: url('../css/edit game page/arrow.svg');
        background-color: rgb(137, 137, 165);
        background-repeat: no-repeat;*/
        width: 13vw;
        height: 3vh;
        transition: transform 0.5s ease;
    }


.publishBtn {
    width: 8vw;
    padding-left: 3%;
    height: 5vh;
    background-image: linear-gradient(to bottom, #87c3f0, #2d96e3);
    cursor: pointer;
    border-radius: 5px;
    align-content: center;
}

.publishIcon {
    position: relative;
    top: -2.3vw;
    right: 6vw;
    width: 2vw;
    height: 2vh;
}

.afterPublish {
    background-image: linear-gradient(to bottom, #87f0c3, #2de396);
    width: 8vw;
    padding-left: 3%;
    height: 7vh;
    border-radius: 5px;
    color: white;
    align-content: center;
}

.emptyGameName {
    border: 1px solid red;
}





/*-------------------------------------------------------------------------------------------------------------------
*/
#general-settings {
    width: 54vw;
    height: 25vh;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0px 6px 10px #00000029;
    margin-right: 3vw;
}

#general-settings-title {
    color: #54547C;
    font-size: 180%;
    font-weight: 900;
    padding-right: 22vw;
    padding-top: 1vh;
}

#underline1 {
    margin-bottom: 1vh;
    width: 50vw;
    margin-right: 2vw;
    border: 0.5px solid rgba(213, 211, 211, 0.5);
    height: none;
}

#character-count-input1 {
    padding-top: 2vh;
    font-size: 130%;
    font-weight: 600;
    padding-right: 2vw;
    color: #54547C;
}

#character-count-input2 {
    padding-top: 2vh;
    font-size: 130%;
    font-weight: 600;
    padding-right: 2vw;
    color: #54547C;
}

.input1 {
    width: 13vw;
    height: 2.8vh;
    border: none;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    margin-right: 0.5vw;
    margin-left: 1vw;
    padding-right: 1vw;
    font-size: 100%;
}

.input2 {
    width: 16vw;
    height: 2.8vh;
    border: none;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    margin-right: 0.5vw;
    margin-left: 1vw;
    padding-right: 1vw;
    font-size: 100%;
}

#instraction1 {
    font-size: 80%;
    font-weight: 300;
}

#instraction2 {
    font-size: 80%;
    font-weight: 300;
}

.text-inst {
    font-weight: 400;
}





/*--------------------------------------------------------------------------------------------------------------------
*/

#add-match {
    margin-top: 3vh;
    width: 54vw;
    height: 50vh;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0px 6px 10px #00000029;
    margin-right: 3vw;
}

#add-match-title {
    color: #54547C;
    font-size: 180%;
    font-weight: 900;
    padding-right: 23vw;
    padding-top: 1vh;
}

#underline2 {
    margin-bottom: 1vh;
    width: 50vw;
    margin-right: 2vw;
    border: 0.5px solid rgba(213, 211, 211, 0.5);
    height: none;
}

/*-------------------------------------------------------------------------------------------------------------------
*/
#all-matches {
    position: absolute;
    bottom: 0.1vh;
    width: 33vw;
    height: 50vh;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0px 6px 10px #00000029;
    margin-right: 60vw;
}

#all-matches-scroll {
    width: 33vw;
    height: 40vh;
    overflow-y: auto; /* Use 'auto' to hide scrollbar when content fits within container */
    min-height: 10vh;
    max-height: 74vh; /* Adjust the desired maximum height */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

    #all-matches-scroll::-webkit-scrollbar {
        width: 0.5vw;
        background-color: transparent;
    }

    #all-matches-scroll::-webkit-scrollbar-thumb {
        background-color: #535381;
        border-radius: 4px;
    }

    #all-matches-scroll:hover::-webkit-scrollbar-thumb {
        background-color: #7d779b;
    }

    #all-matches-scroll:only-child {
        scrollbar-width: none;
    }

    /* Hide scrollbar when height is smaller than 54vh */
    #all-matches-scroll:only-child,
    #all-matches-scroll::-webkit-scrollbar {
        display: none;
    }




#all-matches-title {
    color: #54547C;
    font-size: 180%;
    font-weight: 900;
    padding-right: 13.5vw;
    padding-top: 1vh;
}

#underline3 {
    margin-bottom: 1vh;
    width: 29vw;
    margin-right: 2vw;
    border: 0.5px solid rgba(213, 211, 211, 0.5);
    height: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------
*/
#publish-conditions {
    position: absolute;
    bottom: 53vh;
    width: 33vw;
    height: 25vh;
    background-color: white;
    border-radius: 27px;
    box-shadow: 0px 6px 10px #00000029;
    margin-right: 60vw;
}

#publish-conditions-title {
    color: #54547C;
    font-size: 180%;
    font-weight: 900;
    padding-right: 13vw;
    padding-top: 1vh;
}

#underline4 {
    margin-bottom: 1vh;
    width: 29vw;
    margin-right: 2vw;
    border: 0.5px solid rgba(213, 211, 211, 0.5);
    height: none;
}

.conditionsStyle {
    padding-right: 2vw;
    color: #54547C;
    font-size: 130%;
    font-weight: 500;
}

.enoughMatches {
    padding-top: 2vh;
    padding-left: 0.5vw;
}

.NameAndInstraction {
    padding-top: 2vh;
    padding-left: 0.5vw;
}

.cancleVisable {
}

.cancelInvisable {
    display: none;
}

.regularUIBtn {
    background: linear-gradient(rgba(135,195,240,0.74) -24%, rgba(58,160,234,0.74) 70.96%);
    width: 5%;
    height: 4vh;
    border: none;
    font-size: 120%;
    font-weight: 200;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: Heebo;
    margin-right: -12%;
    margin-top: 1vh;
}

.SaveNameAndInstrucBtn {
    background: linear-gradient(rgba(135,195,240,0.74) -24%, rgba(58,160,234,0.74) 70.96%);
    width: 10vw;
    height: 4vh;
    border: none;
    font-size: 120%;
    font-weight: 200;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: Heebo;
    margin-right: -12%;
    margin-top: 1vh;
}
