body {
}

.imgOrTextToggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.8vh;
    border-radius: 1.25vh;
    width: 28%;
    background-color: #FBFBFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.toggleStick {
    position: relative;
    height: 1vh;
    width: 40%;
    border-radius: 0.25vh;
    background-color: #ECEEF0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleCircle1 {
    position: relative;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    background-color: #6565AA;
    right: 45%;
    transform: translateX(0);
    transition: transform 0.5s ease;
    cursor:pointer;
}

.toggleCircle2 {
    position: relative;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    background-color: #6565AA;
    left: 40%;
    transform: translateX(1vh);
    transition: transform 0.5s ease;
    cursor: pointer;
}
#textImg {
    /*margin-right: 5px;*/
    padding: 5%;    
}

#photoImg {
    /*margin-left: 5px;
    order: 3;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);*/
    padding: 5%;   
}

.containerWithTwoDivs {
    display: flex;
}

.toggleSides {
    flex: 1;
}