body {
    position:static;
    height:1vh;
}

#NoGamesFound {
    text-align: center;
    color: rgba(98,98,154,1);
    align-content: center;
    align-items: center;
    font-size: 100%: 150%;
    padding-top: 30vh;
    padding-right: 38vw;
    width: 20vw;
}

.plus {
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.1vw;
    transition: left 0.3s ease-in-out;
    /*    font-weight: bold;
*/ align-items: center;
    padding-top: 20%;
}

.plus-expended {
    position: absolute;
    top: -103vh;
    left: 14vw;
    bottom: -3.1vh;
    transform: translate(-50%, -50%);
    color: white;
    font-size:3.3vw;
    /* font-weight: bold; */
    animation: halfCircleMotion-b-2fxcrjqmhk 0.5s ease-in-out 0.35s forwards;
    transform-origin: center;
    animation-fill-mode: forwards;
}

char_text {
}

#plusContainer {
    border: none;
    padding-bottom: 1vh;
    
}

.disabledNewGameButton {
    background: linear-gradient(rgba(220, 220, 220) -24%, rgb(230, 230, 230) 70.96%);
    width: 6vw;
    height: 4vh;
    border: none;
    font-size: 100%;
    font-weight: 200;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: Heebo;
    margin-right: -12%;
    margin-top: 1vh;
    cursor: not-allowed;
}

.activeNewGameButton {
    background: linear-gradient(rgba(135,195,240,0.74) -24%, rgba(58,160,234,0.74) 70.96%);
    width: 6vw;
    height: 4vh;
    border: none;
    font-size: 100%;
    font-weight: 200;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: Heebo;
    margin-right: -12%;
    margin-top: 1vh;
}

.character-count {
    margin-top: 2.8vh;
    margin-right: 13vw;
    position: absolute;
    color: #707070;
    font-weight: 400;
    font-family: Heebo;
    direction: ltr;
    font-size: 100%: 9pt;
    /*    z-index: -1;
*/
}

@keyframes halfCircleMotion {
    0% {
        top: 45%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        top: 45%;
        transform: translate(-50%, -50%) rotate(404deg);
    }
}

.circle-button {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background: linear-gradient(94deg, #9191ba 0%, #2c2c69 100%);
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: width 0.5s ease;
    margin-bottom: 1%;
}

    .circle-button:hover {
        background: linear-gradient(94deg, #c6c6e1 0%, #55558f 100%);
    }

        .circle-button:hover::after {
            padding-left: -20%;
        }

.circle-expended {
    width: 32vh;
    height: 6vh;
    border-radius: 10vw;
    background: linear-gradient(94deg, #9191ba 0%, #2c2c69 100%);
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease;
    margin-bottom: 1%;
}

.circularInput {
    width: 24vh;
    height: 4vh;
    left: 25vh;
    border-radius: 10vw;
    border-bottom: 0.3px solid #F0F0F0;
    background: linear-gradient(94deg, #FFFFFF 0%, #F0F0F0 100%);
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 1vh;
    box-sizing: border-box;
    transition: width 0.3s ease;
    /*    margin-bottom: 1%;
*/
}



.circularInputDisplayNone {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    /*    justify-content: center;*/
}

.createBtn {
    position: relative;
    right: 37vh;
}


.search__container {
    position: absolute;
    margin-right: 44vw;
    margin-top: -2vh;
}

.searchInputOpen {
    margin-right: -180%;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    width: 10vw;
    padding: 0.8vw 2.4vw; /* 40% smaller than 2vw and 4vw */
    background-image: linear-gradient(to bottom, #fff, #f8f7f7);
    transition: transform 250ms ease-in-out;
    font-size: 100%: 0.84vw; /* 40% smaller than 1.4vw */
    line-height: 1.08vw; /* 40% smaller than 1.8vw */
    color: #54547C;
    background-image: url('icon ionic-ios-search.svg');
    background-repeat: no-repeat;
    background-size: 2vw 2vw; /* 40% smaller than 3.6vw */
    background-position: 10% center;
    border-radius: 30px; /* 40% smaller than 50px */
    border: 0.12vw solid #f3f3f3; /* 40% smaller than 0.2vw */
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    margin-right: 0.01vw;
}

.row-container {
    display: flex;
    /*    justify-content: space-between;
    align-items: center;
*/
}


.searchInputOpen::placeholder {
    color: rgba(87, 87, 86, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.09vw; /* 40% smaller than 0.15vw */
}

.searchInputOpen:hover,
.searchInputOpen:focus {
    padding: 0.8vw 0.5vw;
    outline: 0;
    border: 0.12vw solid transparent; /* 40% smaller than 0.2vw */
    border-radius: 20px;
    border-bottom: 0.08vw solid #f3f3f3;
    background-position: 2% center;
    width: 15vw;
    padding-left: 0.8vw;
}


#background-div {
    margin-right: -1vw;
    width: 101%;
    background-color: white;
    border: 1px solid;
    border-color: #d5d5d5;
    border-radius: 45px;
    padding-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.4);
    padding-top:3vh;
}

#allGames {
    overflow-y: auto; /* Use 'auto' to hide scrollbar when content fits within container */
    min-height: 67vh;
    max-height: 70vh; /* Adjust the desired maximum height */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    direction: ltr;
    overflow-x: hidden;
    margin-right:1vw;
}

#without-scroll {
    width: 100%;
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
    grid-gap: 0vw;
    margin-top: -3vh;
}

#allGames::-webkit-scrollbar {
    width: 0.5vw;
    background-color: transparent;
    right: 0;
    padding-top: 15vh;
}

    #allGames::-webkit-scrollbar-thumb {
        background-color: #535381;
        border-radius: 4px;
        padding-top:15vh;
    }

#allGames:hover::-webkit-scrollbar-thumb {
    background-color: #7d779b;
    padding-top: 15vh;
}

    #allGames:only-child {
        scrollbar-width: none;
    }

    /* Hide scrollbar when height is smaller than 54vh */
    #allGames:only-child,
    #allGames::-webkit-scrollbar {
        display:flex;
    }

.PageMainTitle {
    font-size: 20pt;
    color: #62629A;
    background: linear-gradient(180deg, #fdf1d0 20%, #fffdf3 100%);
    border-radius: 25px;
    height: 4vh;
    max-width: 23vw;
    padding: 2vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}

.allContent {
    margin-top:3vh;
}
