@page "/game"


@using Microsoft.AspNetCore.Components.Web
@using TriangleProject.Shared.Models.Editor
@using TriangleProject.Shared.Models.Matches
@using TriangleProject.Shared.Models.Portelem
@using TriangleProject.Client.Components

<div id="container">
    <div id="gameArea" class="">
        <!--src = הקישור של דף המשחק שלכם -->
        <iframe id="gameIframe"
                src="https://i.simmer.io/@@malkaberry/mah-jong"
                style="width: 1280px; height: 720px"></iframe>

    </div>


    <!--קישור לדף עצמו כדי להתחיל את המשחק מחדש בלחיצה על הלוגו-->
@*    <a href="./index.html">
        <img id="logo" src="../css/images/Asset 8-8.png" />
    </a>
*@    <!--------------- ABOUT POP UP (START) --------------->
@*    <div id="aboutDiv" class="popUp bounceInDown hide">
        <p class="closePop">
            <a class="closeAbout">X</a>
        </p>
        <p class="aboutText">
            vאפיון ופיתוח : עדי פפיא, ענבל עזר ומלכה ברי
            <br />
            אופיין ופותח במסגרת פרוייקט בקורסים:
            <br />
            סביבות לימוד אינטראקטיביות 1 + תכנות אינטראקציה ואנימציה
            <br />
            <a href="https://www.hit.ac.il/" class="aboutTextLink">הפקולטה לטכנולוגיות למידה</a>
        </p>
        <img id="odot" src="../css/images/odot.png" />
    </div>

    <div id="howToPlayDiv" class="popUp bounceInDown hide">
        <p class="closePop">
            <a class="closeHowToPlay">X</a>
        </p>
        <img id="howToPlay" src="../css/images/how to play.png" />
        <div id="video">
            <iframe height="100%"
                    width="100%"
                    src="https://www.youtube.com/embed/diFDMkm2Ol0"
                    title="YouTube video player"
                    frameborder="5"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
*@
</div>




