.copyBtn {
    background-image: url(css/images/copy_icon.svg);
    width: 2.15vw;
    height: 5vh;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    padding-bottom: -9vh;
    margin: -0.8vh;
    margin-left: -7vh;
    margin-bottom: -25vh;
}



.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6ad84d;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;
}
