body {
}

.container {
    display: flex;
}

    .rectangle > img {
        margin-right: 2vw;
        width:6vw;
        margin-bottom: -2vh;
    }

.content{
    position:absolute;
    margin-right:4vw;
}

.text{
  bottom:10vh;
}
.rectangle p {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.edit-button,
.delete-button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .edit-button:hover,
    .delete-button:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

#disabled {
    opacity: 0.5;
}

.editPencil {
    padding-right: 6vw;
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    margin-top: 5.5vh;
}

.k {
    padding-right: 5vw;
    margin-top: 5.5vh;
}

.trash {
    margin-top:5.5vh;
    cursor: pointer;
    margin-right:4vw;
}



.component.editMode {
    background-color: #e5f5fe;
    border-radius: 3vh;
}
