body {
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash {
    cursor: pointer;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .rectangle p {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

.edit-button,
.delete-button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .edit-button:hover,
    .delete-button:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

#disabled {
    opacity: 0.5;
}

.editPencil {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.component.editMode {
    background-color: #e5f5fe;
    border-radius: 3vh;
}
