body {
}

.container {
    display: flex;
}

.content {
    margin-right: 2vw;
    width: 6vw;
}

.each-match-div {
    position: relative;
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #62629A;
    /*font-size: 100%: 120%;*/
    font-weight: 500;
    word-wrap: anywhere;
    /*    overflow-wrap: break-word;*/
    hyphens: auto;
}




.image {
    position: relative;
}

.brik {
    width: 7.5vw;
}

.ach-match-div {
}


.edit-button,
.delete-button {
    width: 5vw;
    height: 5vh;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .edit-button:hover,
    .delete-button:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

#disabled {
    opacity: 0.5;
}

.editPencil {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    margin-top: 8vh;
    margin-right: 5vw;
}

.k {
    margin-right: 5vw;
    margin-top: 8vh;
}

.trash {
    margin-top: 8vh;
    cursor: pointer;
    margin-right: 4vw;
}



.component.editMode {
    background-color: #e5f5fe;
    border-radius: 3vh;
}
