@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="mainnavbar px-3">
            <a href="https://localhost:7265/gameslist/false">לעורך</a>
            <a href="https://localhost:7265/game">למשחק</a>
            <a href="https://localhost:7265/gameslist/false">איך משחקים?</a>
            <a href="https://localhost:7265/gameslist/false">אודות</a>


        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


